Rakefile
app/controllers/application_controller.rb
app/helpers/
config/boot.rb
config/database.yml
config/environment.rb
config/environments/
config/initializers/
config/locales/
config/routes.rb
doc/
log/
script/
test/
*~
